.container {
  width: 100%;
  /* background: linear-gradient(
    -45deg,
    #c5ffde,
    #ffc6f0,
    #fdffc4,
    #c7fff3,
    #c8fdff,
    #e8c6ff
  );
  background-size: 400% 400%;
  animation: gradient 30 ease infinite; */
  height: 100dvh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}
