@use 'tailwindcss';
@forward './modules/_fonts.scss';

@layer utilities {
  .bg-glass {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .border-glass {
    border-color: rgba(255, 255, 255, 0.18);
  }
  .shadow-glass {
    box-shadow: 0 4px 16px 0 rgba(65, 65, 65, 0.7);
  }
}

@theme {
  --font-sans: 'Roboto', sans-serif;

  --shadow-small: 0px 0px 6px 0px rgba(0, 130, 54, 0.3);
  --shadow-main: 0px 0px 8px 0px rgba(0, 130, 54, 0.3);
  --shadow-block: 0 4px 16px 0 rgba(65, 65, 65, 0.7);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @extend %font-base-16;
  height: fit-content;
  min-height: 100dvh;
  position: relative;
  overflow-y: auto;
  line-height: 1.25;
  background-image: url('/assets/images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#root {
  width: 100%;
  min-height: 100dvh;
  display: flex;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
span,
li {
  cursor: default;
}

input:-webkit-autofill,
input:-webkit-autofill::selection,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-moz-autofill,
input:-moz-autofill::selection,
input:-moz-autofill:hover,
input:-moz-autofill:focus {
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

/***** Кастомный глобальный скроллбар *****/
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 122, 85) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(0, 122, 85);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 122, 85, 0.7);
}

*::-webkit-scrollbar-button {
  display: none;
}
