@import 'tailwindcss';

@layer utilities {
  .bg-glass {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .border-glass {
    border-color: rgba(255, 255, 255, 0.18);
  }
  .shadow-glass {
    box-shadow: 0 4px 16px 0 rgba(65, 65, 65, 0.7);
  }
}

@theme {
  --font-sans: var(--font-sans), sans-serif;
  --font-mono: var(--font-mono), sans-serif;

  --shadow-small: 0px 0px 6px 0px rgba(0, 130, 54, 0.3);
  --shadow-main: 0px 0px 8px 0px rgba(0, 130, 54, 0.3);
  --shadow-block: 0 4px 16px 0 rgba(65, 65, 65, 0.7);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: fit-content;
  min-height: 100dvh;
  overflow-y: auto;
  line-height: 1.25;
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  background-image: url('/assets/images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

/***** Кастомный глобальный скроллбар *****/
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 122, 85) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(0, 122, 85);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 122, 85, 0.7);
}

*::-webkit-scrollbar-button {
  display: none;
}
